/* 1)aggiungere simbolini giusti a top header
   2)aggiungere hr a colonna header
   3)rivedere sezione sponsor con flot invece che inlineblock*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: rgba(8, 35, 85, 0.97);
}

.bkg_azzurro {
  background-color: rgb(93, 186, 236);
}

/* inizio header */

header {
  width: 100%;
}
header ul {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: rgba(8, 35, 85, 0.97);
}
.top_header {
  background-color:rgb(201, 219, 249);
}

/* inizio container */

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* inizio top header */

/* da aggiungere position fixed */
.top_header {
  position:fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  line-height: 10vh;
  border-bottom: 1px solid grey;
}

.nav_left ul li {
  float:left;
  padding-right: 3vh;
}
.nav_right ul li {
  float:right;
  padding-left: 3vh;
}

.btn {
  border-radius: 10px;
  padding:8px;
}
.btn_orange {
  border:1px solid orange;
  color:orange;
  text-decoration: none;
}
.btn_classic {
  color: white;
  background-color: orange;
  text-decoration: none;
}
/* fine top header */


/* inizio bottom header */
.bottom_header {
  height: 10vh;
  margin-top: 10vh;
  width: 100%;
  line-height: 10vh;
}

.world_icon::before {
  padding-left:5px;
}
.down_icon::after {
  font-family: "fontawesome";
  content: '\f078';
  font-size: 90%;
  padding-left: 3px;
}
.search_icon::before {
  padding-left:5px;
}
#English {
  padding-left: 5px;
}
/* inizio bottom header */


/* logo qui */
.float_left {
  float:left;
}
.float_right {
  float:right;
}
#logo img {
  transform: translateY(50%);
}
/* fine bottom header */


/* inizio jumbotron */
.jumbotron {
  width: 100%;
  height: 80vh;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  /* COVER INVECE DI CONTAIN PER LAVORARE MEGLIO SUL MIO SCHERMO */
  background-size: contain;
}

.jumbo_contain {
  width: 45%;
  padding-top: 20vh;
}

.jumbo_contain h1 {
  font-size: 250%;
}
.jumbo_description p {
  padding:3vh 0;
}

/* fine jumbotron */


/* INIZIO MAIN */
main {
  margin-top: -3vh;
}

/* inizio prima sezione */
.prima_sezione {
  width: 100%;
  padding-bottom: 7vh;
}

.intestazione{
  padding: 5vh;
}
.text_centered {
  text-align: center;
}
.intestazione h3 {
  font-size: 180%;
}

#img_cube img {
  width: 20%;
}
.intestazione_testo p {
  padding:3vh 0;
}

/* INIZIO STRUTTURA COLONNE */
/* MANCA HR IN COLONNA HEADER */

/* INIZIO COLONNA HEADER */
.colonna {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
.colonna.header {
  width: 100%;
}
.hed_left {
  width: 30%;
}
.hed_left_img img {
  width:50%;
  height: 50%;
  padding-bottom: 10px;
}

.hed_right {
  width: 70%;
  padding: 3vh 3vh 0 3vh;
}
.hed_right.text p,
.hed_right.text h5 {
  padding: 5px 0;
}
.h5_hr hr {
  width: 44%;
  margin-top: 12px;
}
.h5_hr h5 {
  text-transform: uppercase;
}

.hed_right .list_item {
padding-top: 0;
padding-bottom: 3vh;
}
.hed_right .list_item li {
padding-right:10px;
}
.hed_left {
  padding: 5vh;
}
.inlineblock {
  display: inline-block;
}
/* FINE COLONNA HEADER */

.col {
  width: 31.6%;
  text-align: center;
  padding:5vh;
  margin-top: 10vh;
}
.col ul {
  text-align: left;
  list-style: none;
  padding-bottom: 5vh;
}
.col ul li i {
padding-right:10px;
}
.col img {
  width:50%;
  height: 50%;
}
.col h4 {
  padding:10px 0;
}
.col p {
  min-height: 20vh;
}

.col_center {
  margin: 0 30px;
  margin-top: 10vh;
}


.hed_center_img img {
  width: 69%;
}
.hed_left_img img {
  width: 52%;
}

.col_center.text_1 {
  margin-top: 0;
}
.col_center.text_2 {
  margin-top: 0;
}

/* INIZIO SECONDA SEZIONE */
.seconda_sezione {
  padding-bottom: 10vh;
}
.gradient_background {
  background-image: linear-gradient(to right, rgb(39, 161, 230) , rgb(0, 255, 252));
}
.white_font {
  color:white;
}
/* INIZIO TABELLA */
.box {
  width: calc(100% / 4);
  padding:20px;
  line-height: 4vh;
}
.box h1 {
  font-size: 250%;
}
/* + NON CENTRATO */
.plus_symbol::after{
  content: "+";
  font-size: 20px;
  line-height: 4vh;
  vertical-align: middle;
}
.sideup {
  border-bottom: 3px solid white;
}
.left_centerup {
  border-left: 3px solid white;
  border-right:3px solid white;
  border-bottom:3px solid white;
}
.right_centerup {
  border-right:3px solid white;
  border-bottom:3px solid white;
}

.row2 .box {
  border-bottom: 0;
}
/* FINE SECONDA SEZIONE */

/* INIZIO TERZA SEZIONE */
.terza_sezione {
  margin-bottom: 5vh;
}

.third_description {
  width: 20%;
  padding-left: 10vh;
}
.third_description h1 {
  font-size: 250%;
  padding-top: 10vh;
  padding-bottom: 3vh;
}

.bolder {
  font-weight: bolder;
}

.third_sponsors {
  width: 79%;
  padding-left: 20vh;
}
.third_sponsors .row_1 {
  margin-bottom: 2vh;
}
.sponsor {
  width: calc(90% / 4);
}
.sponsor img {
  max-height: 40px;
  max-width: 100%;
  padding:10px;
  vertical-align: middle;
  }

.bottom_thirdsection .jumbo_contain{
  width: 30%;
  }

.jumbo_contain h2{
    font-size: 200%;
 }

.bio_image {
  height: 35vh;
  width: 50%;
  margin-top: 15vh;
  background-image: url("../img/woman.webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  }

  /* FINE MAIN */

  /* INIZIO FOOTER */
.deepblue {
  background-color: rgba(8, 35, 85, 0.97);
}
.azzurro_font {
  color: rgb(201, 219, 249);
}

.footer_table {
  padding-top: 3vh;
  min-height: 35vh;
}
.column {
  width: calc(100% / 4);
}
.column h5 {
  color: white;
  margin-bottom: 3vh;
}
.column li {
  margin-bottom:1vh;
}
.column ul,
 {
  list-style: none;
}
.column ul li a ,
.footer_middle ul li a ,
.footer_bottom .nav_right.bottom ul li a {
  text-decoration: none;
}
.button_container li {
  list-style: none;
}
.btn_footer {
  color:rgba(8, 35, 85, 0.97) ;
  background-color: rgb(201, 219, 249);
  text-decoration: none;
}

.column_4 li:last-of-type {
  margin-bottom: 2vh;
}

.fab {
  color: rgb(201, 219, 249);
  width: 6%;
}

/* INIZIO FOOTER MIDDLE */
.footer_middle {
  text-align: center;
  padding-bottom: 2vh;
}
.footer_middle ul li {
 margin-left: 20px;
}

/* INIZIO FOOTER BOTTOM */
.footer_bottom {
  padding: 3vh 0;
}
#footer_bottom ul {
  list-style: none;
  text-align: middle;
  padding-top: 1vh;
}
